body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.character-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.options {
    margin-top: 20px;
}

.option {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.option:hover {
    background-color: #0056b3;
}

.score {
    margin-top: 20px;
    font-size: 1.2em;
}

#nextQuestionBtn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

#nextQuestionBtn:hover {
    background-color: #218838;
}
